mysite/stock/__pycache__/*
mysite/stock/__pycache/*
mysite/stock/migrations/__pycache__/0001_initial.cpython-310.pyc
mysite/stock/migrations/__pycache__/0001_initial.cpython-311.pyc
mysite/stock/migrations/__pycache__/0002_rename_quantity_category_quantity.cpython-310.pyc
mysite/stock/migrations/__pycache__/0002_rename_quantity_category_quantity.cpython-311.pyc
mysite/stock/migrations/__pycache__/0003_remove_article_image.cpython-310.pyc
mysite/stock/migrations/__pycache__/0003_remove_article_image.cpython-311.pyc
mysite/stock/migrations/__pycache__/0004_article_number.cpython-310.pyc
mysite/stock/migrations/__pycache__/0004_article_number.cpython-311.pyc
mysite/stock/migrations/__pycache__/0005_alter_category_supplier.cpython-310.pyc
mysite/stock/migrations/__pycache__/0005_alter_category_supplier.cpython-311.pyc
mysite/stock/migrations/__pycache__/0006_article_supplier.cpython-310.pyc
mysite/stock/migrations/__pycache__/0006_article_supplier.cpython-311.pyc
mysite/stock/migrations/__pycache__/0007_rename_supplier_article_fournisseur.cpython-310.pyc
mysite/stock/migrations/__pycache__/0007_rename_supplier_article_fournisseur.cpython-311.pyc
mysite/stock/migrations/__pycache__/0008_remove_article_fournisseur.cpython-310.pyc
mysite/stock/migrations/__pycache__/0008_remove_article_fournisseur.cpython-311.pyc
mysite/stock/migrations/__pycache__/0009_alter_article_marque.cpython-310.pyc
mysite/stock/migrations/__pycache__/0009_alter_article_marque.cpython-311.pyc
mysite/stock/migrations/__pycache__/0010_article_supplier.cpython-310.pyc
mysite/stock/migrations/__pycache__/0010_article_supplier.cpython-311.pyc
mysite/stock/migrations/__pycache__/0011_remove_article_supplier.cpython-310.pyc
mysite/stock/migrations/__pycache__/0011_remove_article_supplier.cpython-311.pyc
mysite/stock/migrations/__pycache__/0012_alter_supplier_options_rename_name_supplier_nam.cpython-310.pyc
mysite/stock/migrations/__pycache__/0012_alter_supplier_options_rename_name_supplier_nam.cpython-311.pyc
mysite/stock/migrations/__pycache__/0013_alter_supplier_options_rename_nam_supplier_name.cpython-310.pyc
mysite/stock/migrations/__pycache__/0013_alter_supplier_options_rename_nam_supplier_name.cpython-311.pyc
mysite/stock/migrations/__pycache__/0014_article_image_alter_article_number_and_more.cpython-310.pyc
mysite/stock/migrations/__pycache__/0014_article_image_alter_article_number_and_more.cpython-311.pyc
mysite/stock/migrations/__pycache__/0015_alter_article_size.cpython-310.pyc
mysite/stock/migrations/__pycache__/0015_alter_article_size.cpython-311.pyc
mysite/stock/migrations/__pycache__/0016_alter_article_image.cpython-310.pyc
mysite/stock/migrations/__pycache__/0016_alter_article_image.cpython-311.pyc
mysite/stock/migrations/__pycache__/0017_remove_category_quantity_remove_category_supplier_and_more.cpython-310.pyc
mysite/stock/migrations/__pycache__/0017_remove_category_quantity_remove_category_supplier_and_more.cpython-311.pyc
mysite/stock/migrations/__pycache__/0018_article_supplier.cpython-310.pyc
mysite/stock/migrations/__pycache__/0018_article_supplier.cpython-311.pyc
mysite/stock/migrations/__pycache__/0019_alter_article_image.cpython-310.pyc
mysite/stock/migrations/__pycache__/0019_alter_article_image.cpython-311.pyc
mysite/stock/migrations/__pycache__/0020_category_slug_alter_article_image.cpython-310.pyc
mysite/stock/migrations/__pycache__/0020_category_slug_alter_article_image.cpython-311.pyc
mysite/stock/migrations/__pycache__/0021_category_status.cpython-310.pyc
mysite/stock/migrations/__pycache__/0021_category_status.cpython-311.pyc
mysite/stock/migrations/__pycache__/0022_alter_article_added_alter_category_added.cpython-310.pyc
mysite/stock/migrations/__pycache__/0022_alter_article_added_alter_category_added.cpython-311.pyc
mysite/stock/migrations/__pycache__/__init__.cpython-310.pyc
mysite/stock/migrations/__pycache__/__init__.cpython-311.pyc
hellobro
*pyc
*.pyc
mysite/stock/__pycache__/admin.cpython-310.pyc
mysite/stock/__pycache__/admin.cpython-311.pyc
mysite/stock/__pycache__/apps.cpython-310.pyc
mysite/stock/__pycache__/apps.cpython-311.pyc
mysite/stock/__pycache__/__init__.cpython-310.pyc
mysite/stock/__pycache__/__init__.cpython-311.pyc
mysite/stock/__pycache__/models.cpython-310.pyc
mysite/stock/__pycache__/models.cpython-311.pyc
mysite/stock/__pycache__/urls.cpython-310.pyc
mysite/stock/__pycache__/urls.cpython-311.pyc
mysite/stock/__pycache__/views.cpython-310.pyc
mysite/stock/__pycache__/views.cpython-311.pyc
mysite/authentification/__pycache__/*.cpython
mysite/authentification/__pycache__/*.pyc
mysite/authentification/__pycache__/*.pyc/
-r

