{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{% block title %} {% endblock %}</title>
   <link rel="stylesheet" href="{% static 'template/css/inde.css'%}">
   
<body>
   <div id="loader"></div>
   <header>
      <section>
         <h2>GO LIVRAISON</h2>
         <div class="header">
            <form action="{% url 'stock:search_item' %}" method="GET">
               <input type="text" name="query" id="search_box" placeholder="je recherche..." >
               <input type="submit" value="search" id="search">
            </form>
         </div>
         <div class="cart">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"  viewBox="0 0 24 24"><path d="M10 19.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5zm3.5-1.5c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm6.305-15l-3.432 12h-10.428l-3.777-9h-2.168l4.615 11h13.239l3.474-12h1.929l.743-2h-4.195z"/></svg>
         </div>
      </section>
   </header>
   <nav>
     
         {% block content%}{% endblock%}
         
   </nav>
   <footer>
   </footer>
   <script  type="module" src="{% static 'template/js/index.js' %}" ></script>
</body> 
</html>