{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{% block title %} {% endblock %}</title>
   <link rel="stylesheet" href="{% static 'template/css/index.css'%}">
</head>
<body>
   <div id="loader"></div>
   <header>
      <section>
         <article class="header">
            <form action="" method="POST">
               <input type="text" name="seach_box" id="seach_box" placeholder="je recherche ...">
               <input type="submit" value="search">
            </form>
         </article>
      </section>
   </header>
   <nav>
     
         {% block content%}{% endblock%}
         
   </nav>
   <footer>
   </footer>
   <script src="{% static 'template/js/index.js' %}"></script>
</body>
</html>