{% extends "../base.html" %}
{% block title %}
  connexion
{% endblock title %}
{% block content %}

 <div class="container">
    <form action="{% url 'stock:all_category'%}" method="POST" class="form">
        {% csrf_token %}
        <h2>log in</h2>
        <input type="email" name="email" id="email" placeholder="email" required>
        <input type="password" name="pw" id="pw" placeholder="Mots de pass" required>
        <input type="submit" value="CONNEXION">
        <p><a href="{% url 'authentification:signin'%}">non je n'ais pas de compte</a></p>
      </form>
  </div>
 
{% endblock content %}