

body{

    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    font-family:'Arial', Helvetica;
    font-size: medium;
    margin: 0 ;
    padding: 0;
    background-color: rgb(250, 245, 245);
}
a{
   color: #f50;
   text-decoration: none; 
   
}
li{
    list-style: none;
}
header{
    width: 100%;
    height: 7.5rem;
    background-color: rgb(250, 230, 230);
    display: flex;
    align-items: center;
}
header div{
    display: flex;
    height: 100%;
    width: inherit;
}
header div .title{
    display: flex;
    align-items: center;
   
}

header div  form{
    width: 500px;
    display: flex;
    flex-direction: raw;
    justify-content: center;
   
}
header div  form input{
    height: 48px;
    width: 400px;
    border: 0.7px solid #f55;
    margin-left: 1px;
    border-radius: 10px;
    font-size: 20px;
}
header div form input[type=submit]{
    height: 46px;
    width: 56px;
    margin-left: 8px;
    background-color: rgb(250, 245, 245);
    border:2px solid #f55;
    color: #f55;
    border-radius: 7px;
    font-size: 15px;
    transition: hover 0.3 ease;
}
header div  form input[type=submit]:hover{
    background-color: #f55;
    color: #fff;
}

/* thing about the responsiveness here */
/*  */
header div .login{
    width: 5%;
}
header div .cart{
    display: flex;
    align-items: center;
   
}
header div .cart svg{
   transform: rotateY(180deg);
}
/*here the nav starts  */
nav{
    width: 100%;
    flex-grow: 1;
}
.descript{  
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .first_description{
    width: 350px;
    height: 150px;
}
.description image{
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
}
.categories{
    padding-left: 3rem;
    padding-right: 3rem;
   
}
.categories .elt{
    border-bottom: 1px solid #666;
    padding-top: 2rem;
    padding-bottom:4rem ;
}

.box{
    padding: 0.7rem  2rem 2rem 2rem;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.category{
   padding-left: 0.5rem;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   
}

  .item{
    height: 350px;
    width: 280px;
    min-width:250px ;
    border: 3px solid #f55;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    font-weight: 800;
    margin-bottom: 5px;  
    cursor: pointer;
}
.item .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height:208%;
    width: 100% ;
    padding: 0;
    border-bottom: 3px solid #f55;
    border-radius: 5px;
}
.item .description{
    height: 400px;
    width: 100%;
    background-color:#f55 ;
    color: white;
    display: flex;
    font-family: serif;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
h4{
    font-family: serif;
    display: flex;
    justify-content: center;
    margin: 3px;
}
.info{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    margin-top: 5px;
    margin-left: 5px;
}
#see_more a{
    display:flex;
    align-items: center;
    text-decoration: underline;
}
#see_more span{
    margin-left: 3px;
}
  #addtocart{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 35px;
    width: 90px;
    border: 1px solid #f50;
    color: #f50;
    border-radius: 5px;
    transition: transform 0.2s ease;
    
}
 #addtocart span{
    margin: 2px;
} 
 #addtocart:hover{
    transform: translateY(-2px);
    background-color: rgb(223, 182, 182);
    color: white;
    cursor: pointer;
}
.article_description{
    display: flex;
    margin-left: 8%;
    margin-top: 1%;
}
.article_detail{
    margin-left: 2.5rem;
    font-weight: bold;
    font-size: large;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.account{
    /* here is the account icon */
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
    border: 2px solid black;
    height: 450px;
    max-width: 350px;
    width:250px ;
    
}
footer{
    height: 10rem;
    width: 100%;
    background-color: rgb(250, 230, 230);
}